.body-panel {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding: 0.5em;
}

.conteiner-card-chart {
    padding: 1em;
}


.card-chart {
    width: 400px;
    color: black;
    text-align: center;
}

.card-chart h2 {
    padding-top: 0.5em;
}

.conteiner-chart {
    width: 400px;
    height: 300px;
}

.dimension-chart {
    width: 84%;
    height: 90%;
    padding: 0% 8%;
    display: flex;
    align-items: center;
}